canvas {
    margin-top: 10px;
    border: 1px solid black;
}

.workfield {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#clear {
    margin-top: 5px;
    margin-bottom: 5px;
}