.container {
	flex-direction: column;
	align-items: center;
}

.settings {
	display: flex;
	justify-content: center;
	flex-wrap: auto-wrap;
}
.size {
	padding: 10px;
	display:flex;
	flex-direction: column;
	align-items: center;
}

.size__legend {
	margin-left: 10px;
}

.sizeInput__p {
	font-size: 12px;
	color: #adb5bd;
}

.size__input {
	max-width: 150px;
	margin-bottom: 5px;
}

#letsGo {
  width: 150px;
  padding: 10px;
	background-color: white;
	border: solid black 1px;
	border-radius: 7px;
}

.size__button {
	padding: 10px;
	background-color: white;
	border: solid black 1px;
	border-radius: 7px;
}

.size__button:hover, .size__button:active {
	background-color: #d8dee9;
}

.edit {
	display:flex;
	flex-direction: column;
}

.edit__no-way-nodes {
	display:flex;
}

/* .edit__button {
	background-color: white;
	border: solid black 1px;
	border-radius: 10px;
	padding: 10px;
	margin: 5px;
} */

.graph {
	aspect-ratio: 1 / 1;
	width: 100%;
	max-width:800px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.graph-line {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	width: 100%;
}

.graph-node {
	aspect-ratio: 1 / 1;
	width: 100%;
	max-width: 20px;
	min-width: 5px;
	padding: 5px;
	border: solid black 1px;
	color: white;
}


.size__numberInput {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.no-way-node {
	background-color: gray;
	color: gray;
}

.graph-node.potencial {
	background-color: #d8dee9;
}

.graph-node.visited {
	background-color: #ebcb8b;
}

.graph-node.rightPath {
  background-color: #007ffd;
}

.graph-node.start {
	background-color: rgb(0, 255, 0);
	color:green;
}

.graph-node.finish {
	background-color: rgb(255, 0, 0);
	color: red;
}
